@model IEnumerable<Sige.Financeiro.Api.Models.ContaVeiwModel>
<div class="jumbotron">
    <h1>Relatórios Financeiro</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>RESUMO DE FOLHA</h2>
        <table class="table">
            <tr>
                <th>Tipo</th>
                <th>Area</th>
                <th>Histórico</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Encargos</th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Historico)
                </td>
                <td>
                    @item.DataVenc.ToString("dd/MM/yyyy")
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Encargos)
                </td>
            </tr>
            }

        </table>
    </div>
</div>
